
<a class="btn btn-primary" href="cadastroparceria">Adicionar Parceria</a>
{{#each parcerias}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">{{nome}}</p>
    <p class="card-text">{{anos}}</p>
    <p class="card-text">{{contato}}</p>
  </div>
</div>
{{/each}}